name: ci
on:
  push:
    branches: [main, next]
  pull_request:
    branches: ['*']

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.0.25
      - run: bun install
      - run: bunx playwright install chromium
      - run: bun run format
      - run: bun run lint
      - run: bun run build
      - run: bun run test

  ci-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: yarn install --frozen-lockfile
      - run: npx playwright install chromium
      - run: yarn test:yarn
